{% load crispy_forms_tags %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar" id="nbar">
    <div class="container">
        <a style="color: rgb(255, 255, 255);" class="navbar-brand" href="{% url 'index' %}"> <strong class="mr-4 brand"> Awwards</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" method="get" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search" name="title" aria-label="Search">
                        </div>
                    </form>
                </li>
                <li>
                    <button class="btn btn-sm btn-outline-info" onclick="myFunction()" id="popupButton" style="display:show;">Click me</button>
                </li>
            </ul>

            <ul   class="navbar-nav navbar-right">
                {% if user.is_authenticated%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">{{ user.username|title }} <img style="height:40px;" class="rounded-circle nav-img"
                                                                            src="{{user.profile.profile_picture.url}}"
                                                                            alt="{{user.username}}">
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-center" href="{% url 'profile' %}" style="font-size: medium;">Profile</a>
                        <a class="dropdown-item text-center" href="{% url 'edit_profile' user.id %}" style="font-size: medium;">Edit profile</a>
                        <a href="/accounts/logout/" class="text-secondary text-center dropdown-item" style="font-size: medium;">Log Out</a>


                    </div>
                </li>
                {% else %}
                <a href="{% url 'login'%}" class="login btn btn-sm btn-info" style="font-size: medium;"> REGISTER/LOGIN </a>
                {% endif %}
                <a href="{% url 'new_post' %}">
                    <button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl" style="font-size: medium;">
                        Submit your site
                    </button>
                </a>
            </ul>
        </div>
    </div>
</nav>